@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 18px;
    line-height: 1.5;
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .github-projects-container,
    .project {
      width: 100%; /* Make sure the width is responsive */
      margin-left: auto; /* Center align the project divs */
      margin-right: auto; /* Center align the project divs */
      padding: 10px; /* Adjust padding if necessary */
      box-sizing: border-box; /* Include padding in width calculations */
    }
  
    #hamburger {
      right: 10px; /* Adjust the right position to keep it within the viewport */
    }
  
    nav ul {
      padding: 2rem 0; /* Reduce padding on mobile */
    }
  
    /* Adjust font sizes for smaller screens */
    h1, h2, h3, p {
      font-size: smaller; /* Adjust font size as needed */
    }
  }
  

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #818181;
    background-color: #1a1a1a;
    position: relative;
    
}

a {
    color: inherit;
    text-decoration: none;
}

p,
h2 {
    margin: 0;
    text-align: center;

}

h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 1.3px;
    color: #aaa;
    padding: 4rem 0 0.8rem 0;
    background-repeat: no-repeat;
    background-position: center top;
    
}

.project {
    background-color: #fff; /* Background color for each project */
    padding: 10px; /* Padding inside each project container */
    margin-bottom: 20px; /* Space between project containers */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow for depth */
    border-radius: 5px; /* Rounded corners for aesthetics */
}

.project h3 {
    color: #333; /* Color for project title */
    margin: 0 0 10px 0; /* Spacing around the title */
}

.project p {
    color: #666; /* Color for the project description */
    margin: 0 0 10px 0; /* Spacing around the description */
}

.project a {
    color: #007bff; /* Color for the link */
    text-decoration: none; /* No underline for the link */
}

.project a:hover {
    text-decoration: underline; /* Underline on hover for the link */
}

/* NAVIGATION */

#hamburger {
    width: 60px;
    height: 45px;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transform: scale(0.8);
    z-index: 1000;
}

#hamburger span {
    display: block;
    width: 100%;
    height: 9px;
    background-color: #fff;
    border-radius: 9px;
    position: absolute;
    transition: transform 0.2s, top 0.2s, opacity 0.2s;
}

#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2) {
    top: 18px;
}

#hamburger span:nth-child(3) {
    top: 18px;
}

#hamburger span:nth-child(4) {
    top: 36px;
}

#hamburger.open span:nth-child(1) {
    top: 18px;
    opacity: 0;
}

#hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 18px;
    opacity: 0;
}

nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.8s;
}

nav.show {
    visibility: visible;
    opacity: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 4rem 0 0 0;
    text-align: center;
    background-image: url(media/layers.png);
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 10;
}

nav li {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}

nav a {
    color: #bbb;
    display: block;
    transition: transform 0.3s, color 0.3s;
}

nav a:hover {
    color: #fff;
    transform: scale(1.3);
}

section {
    padding-bottom: 2rem;
}

/*_______________________________________git projects_______________________________________________*/
.github-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-left: 20px;
    margin-right: 20px;
}

.project-row {
    width: 60%;
    display: flex;
    justify-content: space-around;

}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align items vertically */
    width: 700px;
    background-color: #111;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0.8;

}

.project h3 {
    color: #888;
    text-align: left;
}

.project p {
    color: #aaa;
    text-align: left;
}

.project a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.project a:hover {
    background-color: #555;
}

.project-title,
.project-description {
    margin-bottom: 10px;
}

.project-link {
    text-align: right;
    margin-top: auto; /* Pushes it to the bottom */
}


/*_______________________________________gears_______________________________________________*/

.gears {
    width: auto;
    margin: 0 auto;
    transform: rotate(-15deg);
    width: center; /* play with it later */
    height: 1rem;
    z-index: 1;
}

.gears, .github-projects-container {
    visibility: visible;
    /* Other styles */
}

.gear-big,
.gear-small {
    will-change: transform;
}

.a {
  fill: none;
  stroke-miterlimit: 10;
}

.b,
.c {
  stroke: none;
}

.c {
  fill: #ffffff;
  opacity: 0.5;
}

.x {
  fill: crimson;
  opacity: 0.2;
}
.gear-big {
  width: 80px;
  animation: 3s linear infinite normal both spin;
  margin-bottom: 15px;
  margin-left: -3.5px;
}

.gear-small {
  width: 500px;
  margin-bottom: 15px;
  margin-left: -3.5px;
  animation: 6s linear infinite reverse both spin;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*_______________________________________lowest part_______________________________________________*/
footer {
    position: relative;
    background-color: #111;
    padding: 2rem;
    
}

#social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#social li {
    margin: 1rem;
}

.icon {
    display: block;
    width: 4rem;
    height: 4rem;
    transition: transform 0.3s, color 0.3s;
}

.icon:hover {
    transform: scale(1.3);
}

.facebook:hover {
    color: #3b5998;
}

.instagram:hover {
    color: #f4a818;
}

.youtube:hover {
    color: #f00;
}

.github:hover {
    color: #55acee;
}

footer p {
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #888;
}

footer p a {
    color: #aaa;
    text-decoration: none;
    font-weight: 700;
}

footer p a:hover {
    color: #fff;
}